@model Admin

<div class="tab-pane fade show active profile-overview" id="profile-overview">
    <h5 class="card-title">About</h5>
    <p class="small fst-italic"></p>

    <h5 class="card-title">Profile Details</h5>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Full Name</div>
        <div class="col-lg-9 col-md-8">@Model.Name</div>
    </div> 

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Address</div>
        <div class="col-lg-9 col-md-8">@Model.Address</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Phone</div>
        <div class="col-lg-9 col-md-8">@Model.Phone</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Email</div>
        <div class="col-lg-9 col-md-8">@Model.Email</div>
    </div>
</div>
