@model WebThuCung.Dto.ChangePasswordDto


@* <div asp-validation-summary="All" class="text-danger"></div> *@
<form asp-controller="User" asp-action="ChangePassword" method="post">
    <div class="form-group flex-wrap">
        <div class="profile-form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" placeholder="Enter your email address" readonly />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="profile-form-group">
            <label asp-for="CurrentPassword"></label>
            <input asp-for="CurrentPassword" type="password" placeholder="Enter current password" required />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="profile-form-group">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" type="password" placeholder="Enter new password" required />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="profile-form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" type="password" placeholder="Confirm new password" required />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="d-grid my-3">
            <input type="submit" value="Change Password" class="btn btn-dark btn-lg rounded-1" />
        </div>
    </div>
</form>
@await Html.PartialAsync("_Notification")