
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}
@model WebThuCung.Dto.ForgotPasswordDto

<section id="banner" class="py-3" style="background: #F9F3EC;">
    <div class="container">
        <div class="hero-content py-5 my-3">
            <h2 class="display-1 mt-3 mb-0">Forgot Password</h2>
            <nav class="breadcrumb">
                <a class="breadcrumb-item nav-link" asp-controller="User" asp-action="Index"> Home</a>
                <span class="breadcrumb-item active" aria-current="page">Forgot Password</span>
            </nav>
        </div>
    </div>
</section>

<section class="login-tabs padding-large">
    <div class="container my-5 py-5">
        <div class="col-lg-6 offset-lg-3">
            <h3 class="mb-4 text-center">Forgot your password?</h3>
            <p class="text-center">Enter your email address below to receive a reset password link.</p>
            <form asp-action="ForgotPassword" method="post">
                @Html.AntiForgeryToken()

                <!-- Validation Summary -->
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <div class="form-input my-4">
                        <label asp-for="Email" class="col-form-label"></label>
                        <input asp-for="Email" class="form-control p-4" placeholder="Enter email address" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="d-grid my-3">
                        <input type="submit" value="Send OTP" class="btn btn-dark btn-lg rounded-1" />
                    </div>

                    <p class="text-center">
                        <a href="@Url.Action("Login", "User")" class="text-primary fw-bold">Back to login</a>
                    </p>
                </div>
            </form><!-- End Forgot Password Form -->
        </div>
    </div>
</section>


