
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
}
@model WebThuCung.Dto.ResetPasswordDto

<section id="banner" class="py-3" style="background: #F9F3EC;">
    <div class="container">
        <div class="hero-content py-5 my-3">
            <h2 class="display-1 mt-3 mb-0">Reset Password</h2>
            <nav class="breadcrumb">
                <a class="breadcrumb-item nav-link" asp-controller="User" asp-action="Index">Home</a>
                <span class="breadcrumb-item active" aria-current="page">Reset Password</span>
            </nav>
        </div>
    </div>
</section>

<section class="login-tabs padding-large">
    <div class="container my-5 py-5">
        <div class="col-lg-6 offset-lg-3">
            <h3 class="mb-4 text-center">Reset your password</h3>
            <p class="text-center">Enter a new password for your account below.</p>
            <form asp-action="ResetPassword" method="post">
                @Html.AntiForgeryToken()

                <!-- Validation Summary -->
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <div class="form-input my-4">
                        @Html.HiddenFor(model => model.Email) <!-- Ẩn email để lưu thông tin -->

                        <label for="newPassword" class="col-form-label">New Password</label>
                        <input type="password" id="newPassword" name="Password" class="form-control p-4" placeholder="Enter new password" />
                        <span asp-validation-for="Password" class="text-danger"></span>

                        <label for="confirmPassword" class="col-form-label">Confirm Password</label>
                        <input type="password" id="confirmPassword" name="ConfirmPassword" class="form-control p-4" placeholder="Confirm new password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="d-grid my-3">
                        <input type="submit" value="Reset Password" class="btn btn-dark btn-lg rounded-1" />
                    </div>

                    <p class="text-center">
                        <a href="@Url.Action("Login", "User")" class="text-primary fw-bold">Back to login</a>
                    </p>
                </div>
            </form><!-- End Reset Password Form -->
        </div>
    </div>
</section>


